/* width */
.w-full{
    width: 100% !important;
}
.w-max{
    width: max-content;
}
.w-14px{
    width: 14px;
}
.mw-600{
    max-width: 600px;
}
.mw{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

/* height */
.min-h-100{
    min-height: 100vh;
}
.h-full{
    height: 100%;
}
.h-max{
    height: max-content;
}

/* white space */
.white-space-nowrap{
    white-space: nowrap;
}

/* cursor */
.cursor-pointer{
    cursor: pointer;
}

/* button */
.btn{
    padding: .7rem 2rem;
    border-radius: .5rem;
    font-size: 14px;
    border: none;
    background: var(--white);
    cursor: pointer;
}
.btn-primary{
    background-color: var(--primary);
    color: var(--white);
}
.btn-white{
    background-color: var(--white);
    color: var(--primary);
    border: 1px var(--primary) solid;
}
.btn-search{
    border-radius: 0 10px 10px 0 !important;
    padding: .7rem;
    border: 1px #ddd solid !important;
}
.btn-collapse{
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 10px;
}
.btn-step-find{
    width: 50px;
    height: 50px;
    padding: .5rem;
    color: var(--primary);
    font-weight: bold;
    border: 1px var(--primary) solid;
    transition: all .5s ease;
}
.btn-step-find.active, .btn-step-find:hover{
    background-color: var(--primary);
    color: var(--white);
}
.btn-step-find.done{
    background-color: var(--primary);
    color: var(--primary);
}
.kembali-find{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

/* background */
.bg-primary{
    background-color: var(--primary) !important;
}
.bg-sekunder{
    background-color: var(--sekunder);
}
.bg-tersier{
    background-color: var(--tersier);
}
.bg-highlight{
    background-color: var(--highlight) !important;
}
.bg-white{
    background-color: var(--white);
}
.bg-white-important{
    background-color: var(--white) !important;
}
.bg{
    background-color: var(--bg);
}
.bg-black{
    background-color: var(--black);
}
.bg-gradient{
    background: linear-gradient(to top right, rgba(129, 76, 245, .3), rgba(0, 0, 0, 0), rgba(234, 76, 158, .3));
}
.bg-transparent{
    background: transparent !important;
}
.bg-lr-absolute-black{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    transition: all .3s ease;
}
.bg-lr-absolute-black:hover{
    opacity: 0;
}
.bg-white-transparent-absolute{
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, .5));
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/* text color */
.text-primary{
    color: var(--primary);
}
.text-white{
    color: var(--white);
}
.text-black{
    color: var(--black);
}
.text-highlight{
    color: var(--highlight);
}
.text-green{
    color: green;
}

/* text-align */
.text-center{
    text-align: center;
}

/* object fit */
.object-fit-cover{
    object-fit: cover;
}

/* border radius */
.border-0{
    border-radius: 0 !important;
}
.border-sm{
    border-radius: .5rem !important;
}
.border-tl{
    border-radius: 5rem 0 0 0;
}

/* hr border */
.hr-border-br{
    padding-top: 5rem;
    border-radius: 0 0 5rem 0;
}

/* container */
.container {
    padding: 2rem 4rem;
    position: relative;
}
.container-centered{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}
.container-swiper-menu-learnings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    gap: 1rem;
}
.all-course-toggle{
    border-left: 1px var(--primary) solid;
    padding-left: 1rem;
}

/* padding */
.pt-nav{
    padding-top: 6rem !important;
}
.pt-nav-dashboard{
    padding-top: 6rem !important;
}
.pt-2{
    padding-top: 2rem !important;
}
.pt-3{
    padding-top: 3rem !important;
}
.pt-5{
    padding-top: 5rem !important;
}
.pb-1{
    padding-bottom: 1rem !important;
}
.pb-3{
    padding-bottom: 3rem !important;
}
.pb-6{
    padding-bottom: 6rem !important;
}
.pb-13{
    padding-bottom: 13rem !important;
}
.p-0{
    padding: 0 !important;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem !important;
}
.p-3{
    padding: 3rem !important;
}
.p-05{
    padding: .5rem;
}
.p-0{
    padding: 0 !important;
}
.px-4{
    padding: 0 4rem 0 4rem !important;
}

/* grid */
.grid-cols-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-cols-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-cols-2-max{
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
}
.grid-cols-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-rows-2-max{
    display: grid;
    grid-template-rows: max-content 1fr;
}
.grid-spesification{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
}
.cols-3{
    z-index: 1;
    -moz-column-count: 3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count: 3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
}


/* gap */
.gap-05{
    gap: .5rem !important;
}
.gap-1{
    gap: 1rem !important;
}
.gap-15{
    gap: 1.5rem !important;
}

/* font size */
.text-2xl{
    font-size: 2.5rem;
}
.text-lg{
    font-size: 22px;
}
.text-xs{
    font-size: 12px;
}
.text-sm{
    font-size: 14px;
}
.text-md{
    font-size: 16px;
}

/* margin */
.mt-nav{
    margin-top: 10rem;
}
.m-auto{
    margin: auto;
}
.m-05{
    margin: .5rem;
}
.m-2{
    margin: 2rem;
}
.mt-05{
    margin-top: .5rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-15{
    margin-top: 1.5rem;
}
.mt-25{
    margin-top: 2.5rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-6{
    margin-top: 6rem;
}
.mb-1{
    margin-bottom: 1rem;
}

/* display */
.flex{
    display: flex;
}
.hidden{
    display: none;
}

/* flex direction */
.flex-column{
    flex-direction: column;
}

/* justify content */
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}

/* align content */
.align-center{
    align-items: center;
}

/* font weight */
.font-light{
    font-weight: 400;
}
.font-bold{
    font-weight: bold;
}

/* shadow */
.shadow-lg{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.shadow-md{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.shadow-primary{
    box-shadow: 0 10px 100px -1px rgba(129, 76, 245, .5);
}

/* input */
.input{
    padding: .7rem 1.5rem;
    border-radius: 10px;
    border: 1px #dddd solid;
}
.input-search{
    border-radius: 10px 0 0 10px !important;
    font-size: 12px;
    width: 100%;
    max-width: 250px;
}
.input-search-dashboard{
    border-radius: 10px 0 0 10px !important;
    font-size: 12px;
}
.input-search:focus, .input-search-dashboard:focus{
    outline: none;
}
input[type="radio"].radio-find{
    display: none;
}
input[type="radio"].radio-find + label{
    cursor: pointer;
    transition: all .3s ease;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
input[type="radio"].radio-find:checked + label, input[type="radio"].radio-find:hover + label{
    background-color: var(--primary);
    color: var(--white);
}
/* form */
.form-auth{
    max-width: 500px;
}
/* card */
.card{
    border-radius: 1rem;
    border: 1px var(--primary) solid;
    padding: 2rem;
    background-color: var(--white);
    width: max-content;
}
.card-mini{
    border-radius: .2rem;
    border: 1px #ddd solid;
    padding: .2rem .5rem;
    background-color: var(--white);
    width: max-content;
}
.card-learning-toggle{
    /* max-width: 200px; */
    height: 100px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card-learning-toggle .bg-gradient{
    background: linear-gradient(to top, var(--primary), rgba(0, 0, 0, 0));
    opacity: .5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .5s;
}
.card-learning-toggle:hover .img-learning-toggle{
    transform: scale(1.1);
}
.card-learning-toggle:hover .bg-gradient, .card-learning-toggle.active .bg-gradient{
    opacity: 1;
}
.card-learning{
    width: 100%;
    height: 350px;
    border-radius: .8rem;
    overflow: hidden;
    position: relative;
    transition: all .5s ease;
}
.card-learning-parent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 350px;
    background-color: rgba(129, 76, 245, 0.3);
    border-radius: .8rem;
    z-index: -1;
    transition: all .5s ease;
}
.card-learning-parent{
    position: relative;
}
.card-learning-parent:hover .card-learning{
    transform: translate(5px, -5px);
}
.card-learning-parent:hover::before{
    transform: translate(-10px, 10px);
}
.learnings .card-learning-parent:hover::before{
    box-shadow: 0 10px 100px -1px rgba(129, 76, 245, .5);
}
.card-testimoni{
    padding: 3rem 8rem 3rem 3rem;
    border-radius: 1rem;
    position: relative;
    color: black;
}
.card-academy{
    padding: 1rem;
    border-radius: .5rem;
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
}
.card-testimoni-course{
    padding: 1rem 1.5rem;
    background-color: var(--white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    overflow: hidden;
}
.card-in-design::after{
    content: '';
    width: 25%;
    aspect-ratio: 1/1;
    background-color: var(--primary);
    box-shadow: 0 10px 75px -1px rgba(129, 76, 245, .5);
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: -1;
    border-radius: 2rem 0 0 0;
}
.card-in-design::before{
    content: '';
    width: 25%;
    aspect-ratio: 1/1;
    background-color: var(--primary);
    box-shadow: 0 10px 75px -1px rgba(129, 76, 245, .5);
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    z-index: -1;
    border-radius: 0 0 2rem 0;
}

.cols-3 a{
    display: block;
}
.cols-3 a:first-child{
    margin-top: -2rem;
}
.cols-3 a:nth-child(7), .cols-3 a:nth-child(8), .cols-3 a:nth-child(9){
    top: -1rem !important;
}
.card-academy:hover{
    box-shadow: 0 10px 75px -1px rgba(129, 76, 245, .5);
}
.card-academy h4{
    width: 70%;
}
.card-academy img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transition: all .5s;
}
.card-academy:hover img{
    transform: scale(1.1);
}

.content-langganan{
    position: relative;
    top: -180px;
}
.card-price{
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    box-shadow: 0 10px 100px -1px rgba(129, 76, 245, .5);
}

/* overflow */
.overflow-hidden{
    overflow: hidden;
}

/* z-index */
.z-1{
    z-index: 1 !important;
}
.z-2{
    z-index: 2 !important;
}

/* image */
.img-md{
    width: 100px;
}
.image-find{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.image-find img{
    width: 80%;
}
.image-profile{
    max-width: 200px;
}
.image-profile img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

/* position */
.position-relative{
    position: relative;
}

/* circle */
.circle-absolute{
    width: 10%;
    max-width: 100px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 9rem;
    filter: blur(75px);
    z-index: -1;
    animation: right-left 10s infinite alternate;
}
/* .circle-1{
} */
.circle-sekunder{
    background-color: var(--sekunder);
    transition: all 500ms;
}
.circle-tersier{
    background-color: var(--tersier);
    transition: all 500ms;
}
.circle-b-absolute{
    width: 30%;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 2rem;
    right: 0;
    transform: rotate(145deg);
    top: 6rem;
    opacity: .3;
    border: 2px var(--primary) solid;
    animation: rotate-animate 50s infinite alternate;
}
.circle-b-1{
    left: 0;
    transform: rotate(-145deg);
    top: 6rem;
    border: 2px var(--primary) solid;
}
.circle-side-bar{
    width: 50%;
    left: -25%;
    z-index: -1;
    top: 0;
}
.circle-side-bar-1{
    width: 50%;
    right: -25%;
    z-index: -1;
    top: 0;
}
.circle-b-price{
    width: 60%;
    left: -6rem;
    transform: rotate(-110deg);
    bottom: -6rem;
    top: auto;
    animation: none;
    border: 2px var(--primary) solid;
}
.circle-b-price-2{
    width: 60%;
    right: -6rem;
    transform: rotate(-110deg);
    top: -6rem;
    animation: none;
    border: 2px var(--primary) solid;
}
/* .card-price:hover .circle-b-absolute{
    animation: rotate-animate-110 20s infinite alternate;
} */

/* glassmorphism */
.glassmorphism{
    background: rgba(255, 255, 255, 0.69);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
}
.glassmorphism-xl{
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.4px);
    -webkit-backdrop-filter: blur(17.4px);
}

/* swiper */
.swiper-button-next, .swiper-button-prev{
    color: var(--white) !important;
    background-color: var(--primary);
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
}
.swiper-button-next{
    right: 0 !important;
}
.swiper-button-prev{
    left: 0 !important;
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 16px !important;
}
.swiper-button-mini.swiper-button-next::after, .swiper-button-mini.swiper-button-prev::after{
    font-size: 12px !important;
}
.swiper-button-mini{
    width: 30px !important;
    height: 30px !important;
    top: 0 !important;
    transform: translateY(100%) !important;
}

/* pagination */
.pagination {
    display: flex;
}
.pagination a {
    color: var(--primary);
    display: flex;
    align-items: center;
    padding: .7rem 1rem;
    text-decoration: none;
    border: 1px solid var(--primary);
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.pagination a:hover {
    background-color: var(--primary);
    color: var(--white);
}
.pagination .active {
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
}
.active-menu{
    color: var(--primary);
}

@keyframes right-left {
    0% {
        top: 10%;
        left: 0;
    }
    100% {
        top: 10%;
        left: 80%;
    }
}
@keyframes rotate-animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate-animate-110 {
    0% {
        /* transform: rotate(-110deg); */
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}