@media (max-width: 1100px) {
    .grid-cols-3{
        grid-template-columns: 1fr 1fr !important;
    }
}
@media (max-width: 1024px) {
    p{
        font-size: 14px;
    }
    .grid-cols-4{
        grid-template-columns: 1fr 1fr !important;
    }
    .grid-cols-2{
        grid-template-columns: 1fr !important;
    }
    .image-find{
        display: none;
    }
    .card-why{
        margin-top: 1rem;
    }
}
@media (max-width: 960px) {
    .pt-nav-dashboard{
        padding-top: 9rem !important;
    }
    .trigger-side-bar{
        display: block;
    }
    .grid-cols-2-max{
        grid-template-columns: 100% !important;
    }
    #side-bar{
        position: absolute;
        transform: translateX(-100%);
        z-index: 98;
        transition: all .5s ease;
    }
    #side-bar.show{
        transform: translateX(0);
    }
    #btn-collapse{
        display: none;
    }
    .btn-close{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    nav{
        grid-template-columns: 1fr 1fr;
    }
    #search-nav, .wrapper-nav-link, .link-to-login, .link-to-register{
        display: none;
    }
    .humberger, .humberger-dashboard{
        display: block;
    }
    nav > div:last-child{
        display: flex;
        justify-content: end;
        gap: .5rem;
    }
    .btn-search{
        padding: .5rem !important;
    }
    .landing{
        grid-template-columns: 1fr !important;
        gap: 4rem;
    }
    .landing .landing-image{
        height: 100%;
        grid-row: 1;
        margin-top: 3rem;
    }
    .landing-tagline{
        height: 100%;
        text-align: center;
    }
    .testimoni{
        max-width: 80%;
    }
    .profil-testimoni{
        width: 20%;
    }
    .profil-testimoni img{
        max-width: 100%;
    }
    .text-2xl{
        font-size: 2.2rem;
    }
    .nav-cv-profile{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 640px) {
    .grid-cols-3{
        grid-template-columns: 1fr !important;
    }
    .swiper-button-mini{
        display: none !important;
    }
    .landing{
        margin-bottom: 3rem;
    }
    .container{
        padding: 2rem 1.1rem;
    }
    .card{
        padding: 1.5rem;
        width: 100%;
    }
    .text-other-auth{
        display: none;
    }
    .input-search{
        width: 100%;
    }
    .text-2xl, h1{
        font-size: 1.7rem;
    }
    h2{
        font-size: 1.4rem;
    }
    .text-lg, h3{
        font-size: 1.2rem;
    }
    .text-md, h4{
        font-size: 1rem;
    }
    .text-sm, h5{
        font-size: .9rem;
    }
    h6{
        font-size: .7rem;
    }
    a, p, button{
        font-size: 14px !important;
    }
    .btn{
        padding: .6rem 1.5rem;
    }
    .cols-3{
        -moz-column-count: 2;
        -moz-column-gap: 3%;
        -moz-column-width: 44%;
        -webkit-column-count: 2;
        -webkit-column-gap: 3%;
        -webkit-column-width: 44%;
        column-count: 2;
        column-gap: 3%;
        column-width: 44%;
    }
    .cols-3 a:nth-child(7), .cols-3 a:nth-child(8), .cols-3 a:nth-child(9){
        top: 0 !important;
    }
    .landing-image{
        margin-top: 5rem !important;
    }
    .landing-image .content-img{
        width: 50%;
        height: auto;
        aspect-ratio: 1/1;
    }
    .landing-image .content-img::before {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
    .landing-image .content-img img{
        width: 150%;
    }
    .icon-landing::after, .icon-landing::before{
        width: 10px;
        height: 10px;
    }
    .icon-landing{
        width: 40px;
        bottom: -10%;
        right: -10%;
    }
    .icon-landing-1{
        left: -10%;
        top: -10%;
    }
    .icon-landing i{
        font-size: 1rem;
    }
    .grid-cols-4{
        grid-template-columns: 1fr !important;
    }
    .testimoni{
        max-width: 100%;
    }
    .card-testimoni{
        padding: 1rem 1.5rem;
    }
    .profil-testimoni{
        position: static;
        width: 50%;
        padding: .5rem;
        transform: translate(0,0);
        margin: auto;
        margin-bottom: .5rem;
    }
    .profil-testimoni img{
        max-width: 100%;
    }
    .container-swiper-menu-learnings .swiper .swiper-wrapper .swiper-slide {
        padding: 0 !important;
    }
    .swiper-slide{
        padding: 1rem;
    }
    .swiper-button-next, .swiper-button-prev{
        width: 32px !important;
        height: 32px !important;
    }
    .swiper-button-next::after, .swiper-button-prev::after{
        font-size: 14px !important;
    }
    .bg-lr-absolute-black{
        display: none;
    }
    .card-progress-activity{
        justify-content: center;
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .landing-image .content-img{
        width: 75%;
        height: auto;
        aspect-ratio: 1/1;
    }
    .landing-image .content-img img{
        width: 90vw;
    }
    .cols-3{
        -moz-column-count: 1;
        -moz-column-gap: 3%;
        -moz-column-width: 100%;
        -webkit-column-count: 1;
        -webkit-column-gap: 3%;
        -webkit-column-width: 100%;
        column-count: 1;
        column-gap: 3%;
        column-width: 100%;
    }
    .card.activity{
        flex-direction: column;
    }
    .card.activity button{
        width: 100%;
    }
    .details-material, .title-material{
        align-items: start;
        flex-direction: column;
    }
    .title-material{
        gap: 0 !important;
        margin-bottom: .5rem;
    }
    .card-learning .overlay-card-learning {
        transform: translateY(0) !important;
    }
    .card-learning{
        background-color: var(--primary);
    }
    .img-learning{
        display: none;
    }
    .card-learning{
        color: var(--white);
    }
    .card-learning .overlay-card-learning .card-bubble .bubble{
        width: 150%;
        height: 150%;
        border-radius: 0;
        transform: translate(0, 0);
        background-color: var(--primary);
    }
    .card-learning .overlay-card-learning .icon{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        background-color: transparent;
    }
    .front-content-learning{
        margin-top: 1rem;
    }
    .card-learning .flex i.text-primary {
        color: var(--white) !important;
    }
    .swiper-button-next, .swiper-button-prev{
        background-color: var(--white);
    }
    .swiper-button-next::after, .swiper-button-prev::after{
        color: var(--primary);
    }
    .image-profile{
        max-width: 150px;
    }
    .nav-cv-profile{
        grid-template-columns: 1fr 1fr;
    }
}