:root{
    --primary: #814CF5;
    --sekunder: #EA4C9E;
    --tersier: #0067FF;
    --bg: #fdfdfd;
    --highlight: #E67E22;
    --text: #2C3E50;
    --white: #fff;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--white);
    font-family: sans-serif;
    background-color: var(--bg);
}
a{
    text-decoration: none;
    cursor: pointer;
    color: var(--text);
}

/* navbar */
header{
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    transition: all 250ms;
}
nav{
    margin: auto;
    height: 100%;
    max-width: 1440px;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    /* background-color: var(--white); */
}
nav > div:nth-child(2){
    justify-content: center;
}
nav > div:last-child{
    display: flex;
    justify-content: end;
    gap: 1rem;
}
.logo{
    width: max-content;
}
.wrapper-nav-link{
    display: flex;
    gap: 2rem;
}
.nav-link{
    font-size: 14px;
    font-weight: 600;
    color: var(--text);
}
.nav-link.active{
    color: var(--primary);
}
.logo{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.slider-menu-wrapper{
    width: 100%;
    overflow: hidden;
    padding: 1rem 4rem;
    background-color: var(--white);
}
.slider-menu-wrapper ul{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: scroll;
    list-style: none;
    scrollbar-width: none;
    position: relative;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}

.landing{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
    padding: 0 5rem;
}
.landing-tagline{
    line-height: 1.4;
}
.hastag-tagline{
    color: white;
    background-color: var(--primary);
    padding: 0 1rem;
}
.landing-tagline .btn-gradient{
    padding: 1rem 1.5rem;
}
.landing-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-image .content-img{
    position: relative;
    border-radius: 100%;
    background-color: var(--primary);
    width: 300px;
    height: 300px;
}
.landing-image .content-img img{
    width: 140%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 0 0 100% 100%;
    transform: translateX(-50%);
}

.content-how{
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    border-radius: 1rem;
    overflow: hidden;
}
.image-how{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-how img{
    width: 100%;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: var(--white);
}

.accordion-header {
    cursor: pointer;
    color: var(--text);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0;
}

.accordion-header:hover {
    background-color: var(--primary);
    color: var(--white);
}
.img-learning-toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.img-learning {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
.overlay-card-learning{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.content-card-learning{
    position: relative;
    z-index: 3;
    padding: 10px;
}

.title-learning{
    padding: 12rem 0 10rem 0 !important;
    overflow: hidden;
}