:root{
    --primary: #814CF5;
    --sekunder: #EA4C9E;
    --tersier: #0067FF;
    --bg: #fdfdfd;
    --highlight: #E67E22;
    --text: #2C3E50;
    --white: #fff;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
    font-family: sans-serif;
    background-color: var(--bg);
}
a{
    text-decoration: none;
    cursor: pointer;
    color: var(--text);
}

/* navbar */
header{
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    transition: all 250ms;
}
nav{
    margin: auto;
    height: 100%;
    max-width: 1440px;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    /* background-color: var(--white); */
}
nav > div:nth-child(2){
    justify-content: center;
}
nav > div:last-child{
    display: flex;
    justify-content: end;
    gap: 1rem;
}
.logo{
    width: max-content;
}
.wrapper-nav-link{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-link{
    font-size: 14px;
    font-weight: 600;
    color: var(--text);
}
.nav-link.active{
    color: var(--primary);
}
.logo{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.humberger, .humberger-dashboard{
    padding: .7rem .5rem;
    border-radius: .3rem;
    display: none;
    cursor: pointer;
    width: max-content;
}
.humberger span, .humberger-dashboard span{
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--black);
    transition: all .5s;
}
.humberger span:not(:first-child), .humberger-dashboard span:not(:first-child){
    margin-top: 3px;
}
.humberger.active span:first-child, .humberger-dashboard.active span:first-child{
    transform: rotate(45deg) translate(15%, 200%);
}
.humberger.active span:nth-child(2), .humberger-dashboard.active span:nth-child(2){
    transform: scale(0);
}
.humberger.active span:last-child, .humberger-dashboard.active span:last-child{
    transform: rotate(-45deg) translate(15%, -200%);
}
.account-nav-link{
    position: relative;
}
.wrapper-menu-account{
    position: absolute;
    top: 3rem;
    transform: scale(0);
    /* display: none; */
    right: 0;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: 0 4px 20px -1px rgba(129, 76, 245, .2);
    border: 1px rgba(129, 76, 245, .2) solid;
    transition: all .3s ease;
}
.wrapper-menu-account.show{
    transform: scale(1);
    /* display: block; */
}
.wrapper-menu-account .menu-account:not(:nth-child(1)) {
    margin-top: .8rem;
}
.wrapper-menu-account .menu-account{
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 14px;
}

.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px var(--primary) solid;
}
.nav-mobile{
    position: fixed;
    min-height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: var(--white);
    transform: translateX(-100%);
    transition: all .5s ease;
}
.nav-mobile.show{
    transform: translateX(0%);
}
.nav-mobile-wrapper > div{
    padding: 1rem 2rem;
}
.trigger-side-bar{
    display: none;
}
.nav-mobile-trigger-side-bar{
    display: flex;
    padding: .5rem 2rem;
    align-items: center;
    gap: 1rem;
    opacity: 1;
}
.nav-mobile-trigger-side-bar.up{
    position: absolute;
    opacity: 0;
}
#title-has-page-dashboard{
    border-left: 1px var(--primary) solid;
    padding-left: 1rem;
}

/* .slider-menu-wrapper{
    width: 100%;
    overflow: hidden;
    padding: 1rem 4rem;
    background-color: var(--white);
}
.slider-menu-wrapper ul{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: scroll;
    list-style: none;
    scrollbar-width: none;
    position: relative;
    align-items: center;
    text-align: center;
    white-space: nowrap;
} */

.landing{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
    padding: 0 5rem;
}
.landing-tagline{
    line-height: 1.4;
}
.hastag-tagline{
    color: white;
    background-color: var(--primary);
    padding: 0 1rem;
}
.landing-tagline .btn-gradient{
    padding: 1rem 1.5rem;
}
.landing-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-image .content-img{
    position: relative;
    border-radius: 1rem;
    background-color: var(--primary);
    width: 300px;
    height: 300px;
    transition: all .5s;
    box-shadow: 0 4px 100px -1px rgba(129, 76, 245, 1);
}
.landing-image .content-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px; 
    height: 300px;
    background-color: rgba(129, 76, 245, 0.3);
    border-radius: 1rem;
    z-index: -1;
    transition: all .5s;
}
.landing .content-img:hover{
    transform: translate(5px, -5px);
    box-shadow: none;
}
.landing .content-img:hover::before{
    transform: translate(-20px, 20px);
    box-shadow: 0 10px 100px -1px rgba(129, 76, 245, .5);
}
.landing-image .content-img img{
    width: 150%;
    object-fit: contain;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.icon-landing{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary);
    width: 60px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: -10%;
    right: -30%;
    box-shadow: 0 10px 100px -1px rgba(129, 76, 245, .5);
    animation: bounce 2s infinite;
}
.icon-landing::after{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}
.icon-landing::before{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}
.icon-landing-1{
    top: -15%;
    left: -30%;
}
.icon-landing i{
    font-size: 2rem;
}

.content-how{
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    border-radius: 1rem;
    overflow: hidden;
}
.image-how{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-how img{
    width: 100%;
}

.accordion-content {
    display: none;
    padding: 15px;
    border-bottom: 1px var(--primary) solid;
}

.accordion-header{
    cursor: pointer;
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0;
    color: var(--white);
    border-bottom: 1px var(--primary) solid;
}
.accordion-header:hover {
    background-color: var(--primary);
}
.card-bubble-wrapper{
    position: relative;
}
.card-bubble{
    position: relative;
    overflow: hidden;
    border-radius: .7rem;
    transition: all 1s ease;
}
.card-bubble .content{
    padding: 2rem;
}
.icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    padding: .5rem;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    z-index: 1;
    transition-delay: .5s;
    transition: all 1s ease;
}
.card-bubble:hover + .icon{
    background-color: var(--white);
    color: var(--primary);
}
.card-bubble .bubble{
    width: 70%;
    /* aspect-ratio: 1/1; */
    height: 70%;
    background-color: rgba(129, 76, 245, .5);
    border-radius: 100%;
    z-index: -1;
    bottom: 0;
    position: absolute;
    transition: all 1s ease;
}
.bubble.bubble-1{
    transform: translate(-40%, 40%);
}
.bubble.bubble-2{
    transform: translate(-60%, 20%);
}
.card-bubble:hover .bubble{
    width: 150%;
    height: 150%;
    border-radius: 0;
    transform: translate(0, 0);
    background-color: var(--primary);
}
.card-bubble:hover{
    color: var(--white);
}

.img-learning-toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
} 
.img-learning {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.img-testimoni-course{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.overlay-card-learning{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(215px);
    z-index: 2;
    transition: all .5s ease;
}
.overlay-card-learning:hover .icon{
    opacity: 0;
}
.card-learning:hover .overlay-card-learning{
    transform: translateY(0);
}
.card-learning:hover .flex i.text-primary{
    color: var(--white) !important;
}
.content-card-learning{
    position: relative;
    z-index: 3;
    height: 350px;
    max-height: 350px;
}
.title-learning{
    padding: 12rem 0 10rem 0 !important;
    overflow: hidden;
}

.testimonials-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimoni{
    max-width: 700px;
}
.profil-testimoni{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}
.profil-testimoni img{
    max-width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-price .discount{
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: var(--highlight);
    color: white;
    width: max-content;
    margin: auto;
}
.before-price{
    font-size: x-large;
    font-weight: normal;
    text-decoration: line-through;
}
.learnings{
    position: relative;
    top: -150px;
}
.img-review-in-detail{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
.img-review-in-detail:nth-child(2){
    left: -15px;
}
.img-review-in-detail:nth-child(3){
    left: -30px;
}
.detail-icon-course{
    width: 100% !important;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 100px -1px rgba(129, 76, 245, .5);
}
.detail-course-wrapper{
    position: relative;
    top: -85px;
}
.silabus-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.silabus-wrapper .card:first-child{
    border-radius: 0 1rem 0 0 !important;
}
.silabus-wrapper .card:last-child{
    border-radius: 0 0 1rem 1rem !important;
}
.silabus-wrapper .card{
    width: calc(100% - 50px) !important;
}
.number-silabus{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    padding: .5rem;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    z-index: 1;
    transition-delay: .5s;
    transition: all 1s ease;
}

#side-bar{
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    position: sticky;
    top: 0;
}

.side-bar-link{
    padding: 1rem 2rem 1rem 2rem !important;
}
.side-bar-link.active{
    background-color: var(--text);
    color: var(--white);
}

.swiper-wrapper.partner {
    transition-timing-function: linear !important;
}

.chart {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: .5rem;
    width: 100%;
    height: 70%;
    border-left: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}
.chart .bar {
    max-width: 15%;
    width: 100%;
    background-color: var(--primary);
    text-align: center;
    color: var(--white);
    transition: height 0.5s ease;
    height: 0;
}
.chart .bar span {
    display: block;
    margin-top: 10px;
}
.label-chart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
}
.label-chart .month-label {
    text-align: center;
    max-width: 15%;
    width: 100%;
}